[Unit]
Description=26Fly minimal container target
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
AllowIsolate=yes
Wants=systemd-journald.service systemd-journal-flush.service
