[Unit]
Description=26Fly Micro XRCE-DDS Agent
Documentation=https://docs.px4.io/main/en/middleware/uxrce_dds
DefaultDependencies=no
Conflicts=shutdown.target
Before=shutdown.target
ConditionPathExists=/etc/26fly/runtime.env
Requires=systemd-journald.service systemd-journal-flush.service
After=systemd-journald.service systemd-journal-flush.service

[Service]
Type=simple
ExecStart=/usr/local/bin/run-micro-xrce-agent
Restart=always
RestartSec=2
TimeoutStartSec=0
TimeoutStopSec=15
KillSignal=SIGTERM
SyslogIdentifier=26fly-xrce-agent
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=26fly.target
